<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<section class="ftco-section ftco-no-pb ftco-room" th:fragment="events">
    <div class="container-fluid px-0">
        <div class="row no-gutters justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Ближайшие мероприятия</span>
                <h2 class="mb-4" id="current_city"></h2>
            </div>
        </div>
        <div class="row no-gutters" id="events">
        </div>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <p class="pt-1">
                        <a class="btn-custom px-3 py-2 rounded"
                           onclick="fillEvents(lastLoaded+1, lastLoaded+51)">Загрузить еще
                            <span class="icon-long-arrow-down"></span></a></p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>